<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Footer</title>
  </head>
  <body>
    <footer class="bg-dark text-center text-lg-start">
      <div class="container p-4">
        <div class="row">
          <div class="col-md-8">
            <h5 class="text-light">Our Commitment</h5>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste
              atque ea quis molestias. Fugiat pariatur maxime quis culpa
              corporis vitae repudiandae aliquam voluptatem veniam, est atque
              cumque eum delectus sint!
            </p>
          </div>

          <div class="col-md-2">
            <h5 class="text-light">Links</h5>
            <ul class="list-unstyled mb-0">
              <li class="mb-1">
                <a href="#!">Privacy Policy</a>
              </li>
              <li class="mb-1">
                <a href="#!">Terms of Use</a>
              </li>
            </ul>
          </div>

          <div class="col-md-2">
            <h5 class="text-light">About us</h5>
            <ul class="list-unstyled mb-0">
              <li class="mb-1">
                <a href="#!" <i class="bi bi-github"></i> Jonida Mataj</a> 
              </li>
              <li class="mb-1">
                <a href="#!" <i class="bi bi-github"></i> Andrianos Lougkia</a>
              </li>
              <li class="mb-1">
                <a href="#!" <i class="bi bi-github"></i> Aikaterini Papanikolaou</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Copyright -->
      <div
        class="text-light text-center p-3"
        style="background-color: rgba(0, 0, 0, 0.2)"
      >
        © 2023 Copyright
      </div>
    </footer>
  </body>
</html>